Задание 1

In [3]:
import pandas as pd

In [4]:
def rating(rank):
        if rank >=4.5:
            return ('высокий рейтинг')
        elif rank >2.0:
            return ('средний рейтинг')
        return 'низкий рейтинг'

In [5]:
ratings = pd.read_csv('ratings.csv')

In [6]:
ratings['class'] = ratings['rating'].apply(rating)
ratings.head(30)

    userId  movieId  rating   timestamp            class
0        1       31     2.5  1260759144  средний рейтинг
1        1     1029     3.0  1260759179  средний рейтинг
2        1     1061     3.0  1260759182  средний рейтинг
3        1     1129     2.0  1260759185   низкий рейтинг
4        1     1172     4.0  1260759205  средний рейтинг
5        1     1263     2.0  1260759151   низкий рейтинг
6        1     1287     2.0  1260759187   низкий рейтинг
7        1     1293     2.0  1260759148   низкий рейтинг
8        1     1339     3.5  1260759125  средний рейтинг
9        1     1343     2.0  1260759131   низкий рейтинг
10       1     1371     2.5  1260759135  средний рейтинг
11       1     1405     1.0  1260759203   низкий рейтинг
12       1     1953     4.0  1260759191  средний рейтинг
13       1     2105     4.0  1260759139  средний рейтинг
14       1     2150     3.0  1260759194  средний рейтинг
15       1     2193     2.0  1260759198   низкий рейтинг
16       1     2294     2.0  1260759108   низкий рейтинг
17       1     2455     2.5  1260759113  средний рейтинг
18       1     2968     1.0  1260759200   низкий рейтинг
19       1     3671     3.0  1260759117  средний рейтинг
20       2       10     4.0   835355493  средний рейтинг
21       2       17     5.0   835355681  высокий рейтинг
22       2       39     5.0   835355604  высокий рейтинг
23       2       47     4.0   835355552  средний рейтинг
24       2       50     4.0   835355586  средний рейтинг
25       2       52     3.0   835356031  средний рейтинг
26       2       62     3.0   835355749  средний рейтинг
27       2      110     4.0   835355532  средний рейтинг
28       2      144     3.0   835356016  средний рейтинг
29       2      150     5.0   835355395  высокий рейтинг

Задание 2

In [65]:
key = pd.read_csv('keywords.csv')
key.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [66]:
geo_base = {
     'Центр': ['москва', 'тула', 'ярославль'],
     'Северо-Запад': ['петербург', 'псков', 'мурманск'],
     'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'],
    }

In [67]:
def city_list(row):
    for key,value in geo_base.items():
        for i in value:
            if i in row['keyword']:
                return key

In [68]:
key['region']=key.apply(city_list,axis=1)

In [69]:
key['region'] = key['region'].fillna('undentified')
key.head(40)

                          keyword     shows       region
0                              вк  64292779  undentified
1                   одноклассники  63810309  undentified
2                           порно  41747114  undentified
3                            ютуб  39995567  undentified
4                       вконтакте  21014195  undentified
5      одноклассники моя страница  19976138  undentified
6                            майл  15144673  undentified
7                           авито  14786593  undentified
8                      переводчик  14453469  undentified
9                          яндекс  13344734  undentified
10                сбербанк онлайн  10725673  undentified
11                           mail   7687204  undentified
12                           игры   6075762  undentified
13                        youtube   5729958  undentified
14         вконтакте моя страница   5971451  undentified
15                           секс   5431732  undentified
16                           гугл   5175471  undentified
17                             dr   4880955  undentified
18                    алиэкспресс   4879645  undentified
19                        рамблер   4540421  undentified
20                    фильмы 2016   4486635  undentified
21                         погода   4344510  undentified
22                             vk   4330448  undentified
23              ютуб видеохостинг   4215267  undentified
24                          дойки   4133424  undentified
25  одноклассники социальная сеть   4018230  undentified
26                       мультики   3866664  undentified
27                        контакт   3815111  undentified
28                        фейсбук   3669993  undentified
29                    порно видео   3858938  undentified
30                         google   3461040  undentified
31                        майл ру   3337779  undentified
32                             од   3178503  undentified
33                        новости   3137555  undentified
34             дом 2 свежие серии   3144489  undentified
35               игры для девочек   3053796  undentified
36                   порно онлайн   3179321  undentified
37                      инстаграм   2939686  undentified
38              переводчик онлайн   3882735  undentified
39                майл почта вход   2928262  undentified

In [70]:
key[(key['region']== 'Северо-Запад')].head()

                                                keyword   shows        region
370                            авито ру санкт петербург  425134  Северо-Запад
564                           погода в санкт петербурге  292489  Северо-Запад
1236                               банк санкт петербург  174375  Северо-Запад
1346                                    санкт петербург  144232  Северо-Запад
2121  электронный дневник санкт петербургского образ...   94835  Северо-Запад

In [71]:
key[(key['region']== 'Центр')].head()

               keyword   shows region
127       авито москва  979292  Центр
849    авито ярославль  209581  Центр
1259            москва  153050  Центр
1396   гисметео москва  140279  Центр
1482  госуслуги москва  133061  Центр

In [72]:
key[(key['region']== 'Дальний Восток')].head()

                  keyword   shows          region
1063  фарпост владивосток  176951  Дальний Восток
2175       дром хабаровск   98361  Дальний Восток
3206     дром владивосток   73084  Дальний Восток
3275   100 сп владивосток   76418  Дальний Восток
3687      авито хабаровск   63736  Дальний Восток