Задание 1

In [55]:
word=input(str("Введите фразу: "))
l = len(word)//2
word[l if len(word) % 2 else l - 1:l + 1]

Введите фразу: троллейбус

'ле'

In [122]:
word=input(str("Введите фразу: "))
l = len(word)//2
word[l if len(word) % 2 else l - 1:l + 1]

Введите фразу: велосипед

'с'

Задание 2

In [120]:
n=int(input("Введите число:"))
sum = 0
while n != 0:
    sum += n
    n = int(input("Введите число:"))
   
print("Результат",sum)

Введите число:2
Введите число:6
Введите число:7
Введите число:0
Результат 15

Задание 3

In [21]:
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
if len(boys)==len(girls):
    print("Идеальная пара:")
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
        print(f"{company[0]} и {company[1]}")
else:
 
    print("Кто-то может остаться без пары")

Идеальная пара:
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

In [22]:
boys = ['Peter','Alex', 'John', 'Arthur', 'Richard']
girls = ['Kate', 'Liza', 'Kira', 'Emma']
if len(boys)==len(girls):
    print("Идеальная пара:")
    boys.sort()
    girls.sort()
    dating = zip(boys, girls)
    for company in dating:
        print(f"{company[0]} и {company[1]}")
else:
 
    print("Кто-то может остаться без пары")

Кто-то может остаться без пары

In [ ]:
Задание 4

In [ ]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4,  59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]]
 

celsius_temperature = list(map(lambda x: [x[0], round((sum(x[1])/len(x[1]) - 32) * 0.56, 2)], countries_temperature))
print(celsius_temperature)